:root {

    --main-color: pink;
    --text-color: black;

}

header h1 {

font-size: x-large;
font-family: cursive;
position: relative;

}

header h1 a {

    text-decoration: none;
    color: var(--text-color);
    text-shadow: 2px 2px darkorchid; 

}

header  {
padding: 20px 30px ;
display: flex;
background-color: var(--main-color);
text-align: left;
justify-content: space-between;
flex-wrap: wrap;
}


header nav {
    margin: 7px 0;

}

header nav ul {

display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;

}

header nav ul li a {

padding:10px 50px 20px ;
font-size: large;
font-weight: normal;
text-decoration-color: darkorchid;
color: var(--text-color);

}