:root {

    --main-color: pink;
    --text-color: black;
    --secondary-color: darkorchid;
    --border-color: lightgrey;


}


body {

font-family: Arial, Helvetica, sans-serif;
background-color: var(--border-color);

}

/* header styles */

header h1{
    text-shadow: 0 0 10px var(--secondary-color);

}

header h1 a{
    
    text-decoration-line: none;
    color: var(--text-color);
    text-decoration-color: var(--secondary-color);
    
   
}


header {
    padding: 20px 35px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    z-index: 9999;
  
}

header nav {
    margin: 7px 0; 
}

header nav ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {

    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    text-shadow: 0 0 10px var(--secondary-color);
}


header nav ul li a:hover {

    background: white;
    border-radius: 5px;

}

/* About me styles*/



.About p {

    text-align: center;
    font-weight: bold ;
    margin-left: 20%;
    letter-spacing: 2px;
    line-height: 35px;
    margin-top: 100%;
   
}

.About h2 {
 float: left;
    font-size: xx-large;
    
}

.float {

    float:right;
    margin-right: 25px;
    margin-left:10% ;
    margin-bottom:10% ;
    border: 5px solid #555;
    }

.About p{

justify-content:center ;
font-size: large;
text-shadow: 0 0 10px var(--secondary-color);
margin-top: 5.5%;

}

#Projects {


   
}
#Projects h3 {

font-size: xx-large;
margin-top: 18%;


}



#Projects ul  {

display: flex;
list-style: none;
justify-content: flex-start;
flex-direction: row;
flex-wrap: wrap;
margin-left: 200px;




}
.three {

    float: right;
}

